server:
  port: 8333

spring:
  application:
    name: service-gateway
  # nacos配置
  cloud:
    nacos:
      discovery:
        server-addr: 39.101.73.81:8848 # nacos注册中心服务器地址

    gateway:
      discovery:
        locator:
          enabled: true
      routes[0]:
        id: service-vod
        uri: lb://service-vod
        predicates: Path=/*/vod/**

      routes[1]:
        id: service-order
        uri: lb://service-order
        predicates: Path=/*/order/**

